{%extends 'base.html'%}
{%block title%}Login{%endblock%}
{%block header%}
    {%include 'sections/navbar.html'%} 
{%endblock%}

{%block content%}
        <div class="col-md-6 border rounded m-5 p-3 bg-light">
          <p class="card-tittle fs-3 my-3"><b>Ingrese sus credenciales</b></p>
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="cedula" class="form-label"><b>Usuario</b></label>
              <input name="cedula" placeholder="Ingrese su usuario" type="text" class="form-control" id="cedula" aria-describedby="cedulalHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"><b>Contraseña</b></label>
              <input name="password" placeholder="Ingrese su contraseña" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Ingresar</button>
          </form>
          {% if messages %}
          <div class="alert alert-danger mt-3" role="alert">
            {% for message in messages%}
              {%if message.tags%}
                {{message}}
              {%endif%}
            {%endfor%}
          </div>
          {%endif%}
        </div>
{%endblock%}